* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  font-size: calc(13px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

body {
  background-color: rgba(245, 245, 245, 0.662);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "logo titulo"
    "logo menu";
  background-color: aquamarine;
 }
 
.logo-header {
  grid-area: logo;
  margin: 0 0 0 0.6rem;
  padding: 0.2rem;
  border: 1px solid;
}

.logo-header > a {
  display: flex;
  text-decoration: none;
}

h3 {
  grid-area: titulo;
  margin: 0;
  text-align: start;
  padding-left: 10vw;
  align-self: center;
}
  
.navbar {
  grid-area: menu;
  text-align: end;
  padding-inline-end: 1rem;
}

.navbar a {
  text-decoration: none;
  padding-inline-start: 1rem;
}

@media (max-width: 770px){
  header {
    background-color: rgba(0, 255, 255, 0.582);
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo" 
    "menu";
  }
  .logo-header {
    display: block;
    margin: 1rem auto;
    width: fit-content;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 400px){
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "logo" "menu";
    background-color: white;
  }
  .navbar {
    display: grid;
    padding: 0;
    gap: 0.5rem;
    justify-content: stretch;
  }
  .navbar a {
    text-align: center;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.779);
    padding-block: 2rem;
  }
  .logo-header {
    display: block;
    margin: 1rem auto;
    width: fit-content;
  }
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(2, auto);
  gap: 3rem;
  padding: 2rem;
  justify-content: space-around;
}

.grid-item {
  text-align: center;
  border: 1px solid;
}

.grid-item > img {
  width: 100%;
}

.product-pager {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 2rem;
}

.product-page {
  text-decoration: none;
  padding-inline-start: 1rem;
}


footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  font-size: smaller;
}
