* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: beige;
}

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "logo titulo"
    "menu menu";
  background-color: aquamarine;
 }
  
.logo-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border: 1px solid;
}

h1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  text-align: center;
  border: 1px solid;
}

.navbar {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-align: end;
  border: 1px solid;
}