* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(13px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

body {
  background-color: rgba(245, 245, 245, 0.662);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body-home {
  overflow: hidden;
}

body a {
  text-decoration: none;
  color: black;
}

header {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "logo titulo"
    "logo menu";
  background-color: rgba(127, 255, 212, 0.445);
  font-family: 'Playfair Display', serif;
 }
 
.logo-header {
  grid-area: logo;
  margin: 0 0 0 0.6rem;
  padding: 0.2rem;
}

.logo-header > a {
  display: flex;
  text-decoration: none;
  place-items: center;
}

.logo-header > a > span {
  padding-left: 0.5rem;
  font-size: 1.6rem;
  color: rgb(0, 0, 29);
}

h3 {
  grid-area: titulo;
  margin: 0;
  text-align: start;
  padding-left: 10vw;
  align-self: center;
}
  
.navbar {
  grid-area: menu;
  text-align: end;
  padding-inline-end: 1rem;
}

.navbar a {
  text-decoration: none;
  padding-inline: 1rem;
  text-align: center;
}

.navbar a:hover {
  background-color: rgba(127, 255, 212, 0.7);
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  padding: 2rem;
  justify-content: space-around;
}

.grid-item {
  text-align: center;
  border: 1px solid;
}

.grid-item > img {
  width: 100%;
}

.pager-container {
  text-align: center;
  margin-block: 2rem;
}

.product-pager {
  display: inline-block;
}

.product-pager a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.product-pager a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.product-pager a:hover:not(.active) {
  background-color: #ddd;
}

#video-home {
  position: absolute;
  margin: 0 0 0 0;
  opacity: 0.8;
  z-index: -100;
}

main {
  position: relative;
  padding: 1rem 2rem;
}

.phrase1 {
  width: 100%;
  text-align: center;
  padding: 0;
  margin-top: 20vh;
  color: aliceblue;
  font-family: 'Poiret One', cursive;
  animation: phrase1 8s ease-in-out 0s infinite alternate;
  font-size: 5rem;
}

.phrase2 {
  width: 100%;
  text-align: center;
  padding: 0;
  margin-top: -10vh;
  color: aliceblue;
  font-family: 'Poiret One', cursive;
  animation: phrase2 8s ease-in-out 0s infinite alternate;
  font-size: 10rem;
}

@keyframes phrase1 {
  0% {opacity: 0;}
  50% {opacity: 0.5; text-shadow: 0 0 1px white;}
  100% {opacity: 0; transform: scale(3,3); text-shadow: 0 0 10px white;}
}

@keyframes phrase2 {
  0% {opacity: 0;}
  50% {opacity: 0.5; text-shadow: 0 0 1px white;}
  100% {opacity: 0; transform: scale(0.5,0.5); text-shadow: 0 0 10px white;}
}

.hamburguer {
  position: absolute;
  top: 0;
  left: 1rem;
  cursor: pointer;
}

.hamburguer:hover {
  color: #ddd;
  font-weight: bold;
}

.sidebar {
  height: 100vh;
  width: 0; 
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #11111188;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.8s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #adacac;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closeSidebarBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#videoBtn {
  width: 60px;
  font-size: 12x;
  padding: 5px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: 1vh;
  left: 1vw;
  opacity: 0.6;
}

#videoBtn:hover {
  background: #ddd;
  color: black;
}

footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  font-size: smaller;
}

@media (max-width: 770px){ /*para tablets*/
  header {
    background-color: rgba(127, 255, 212, 0.445);
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo" 
    "menu";
  }
  .logo-header {
    display: block;
    margin: 0.3rem auto;
    width: fit-content;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 400px){ /*para telefonos moviles*/
  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "logo" "menu";
    background-color: rgba(127, 255, 212, 0.445);
  }
  .navbar {
    display: grid;
    grid-area: menu;
    padding: 0;
    justify-content: stretch;
    border: 1px solid;
    border-block-end: 0;
  }
  .navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.148);
    padding-block: 0.2rem;
    border-bottom: 1px solid;
  }
  .logo-header {
    display: block;
    margin: 1rem auto;
    width: fit-content;
    grid-area: logo;
  }
  .grid-container {
    grid-template-columns: 70%;
  }
  #video-home, #videoBtn {
    display: none;
  }
}
